<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
	<head>
		<title>osFileManager - {{ title }}</title>
		<link rel="shortcut icon" href="/favicon.ico" />
		<meta name="ROBOTS" content="INDEX,FOLLOW" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="verify-v1" content="nx93on92ZWFeOhLfgXSmQDmQx2V5YizP1iOYhFpyEPI=" />
		<link rel="stylesheet" type="text/css" href="/home.css" title="Home">
		<script type="text/javascript" src="/highslide.js"></script>
		<script type="text/javascript" src="/home.js"></script>
	</head>
	<body>

		<div id="nav">
			<a href="/index.html"><img src="/images/link-home.jpg" alt="Home" class="link" /></a>
			<a href="/screenshots.html"><img src="/images/link-screenshots.jpg" alt="Screenshots" class="link" /></a>
			<a href="/download.html"><img src="/images/link-download.jpg" alt="Download" class="link" /></a>
			<a href="/support.html"><img src="/images/link-support.jpg" alt="Support" class="link" /></a>
		</div>

		<div class="content">
			{{ content }}
		</div>

		<div id="footer">
			Made with &#9829; by <a href="http://devin.la" target="_blank">Devin</a> way back in 2003
		</div>
		<script type="text/javascript">
			var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
			document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
		</script>
		<script type="text/javascript">
			var pageTracker = _gat._getTracker("UA-916699-11");
			pageTracker._trackPageview();
		</script>
	</body>
</html>
